@use "../abstracts/variables";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: variables.$white;
  max-width: variables.$max-width;
  margin: 0 auto;
}
