// Font
$font-main: "Montserrat";

// Palette
$red: #ff6060;
$gray: rgba(246, 246, 246, 1);
$gray-450: rgba(246, 246, 246, 0.45);
$white: #ffffff;
$black: #000000;
$link-hover: rgb(96, 96, 96);

// max-width
$max-width: 1440px;

// Breakpoint
$md: 768px;
