@use "/src/sass/abstracts/variables";

.ratingWrapper {
  text-align: end;
  display: flex;
}

.gray,
.red {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url("/src/assets/images/star-gray.svg");
  background-size: cover;
}
.red {
  background-image: url("/src/assets/images/star-red.svg");
}

@media (width < variables.$md) {
  .gray,
  .red {
    width: 18px;
    height: 18px;
  }
}
