@use "/src/sass/abstracts/mixins";
@use "/src/sass/abstracts/variables";

.bannerWrapperHome {
  @include mixins.banner(0.6, $shadow: true);
  margin-block: 50px 43px;

  h1 {
    position: relative;
    z-index: 2;
    top: -50%;
    text-align: center;
    text-wrap: balance;
    transform: translateY(-50%);
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 143%;

    text-shadow:
      1px 1px 0 black,
      -1px 1px 0 black,
      -1px -1px 0 black,
      1px -1px 0 black,
      0px 4px 4px rgba(0 0 0/ 0.25);
  }
}

.bannerWrapperAbout {
  @include mixins.banner(0.3);
  margin-block: 38px;
}

@media (width < variables.$md) {
  .bannerWrapperHome {
    margin-block: 27px 22px;

    h1 {
      text-align: start;
      font-size: 24px;
      line-height: 100%;
      text-shadow: none;
      margin-inline-start: 16px;
      max-width: 225px;
    }
  }

  .bannerWrapperAbout {
    margin-block: 20px;
  }
}
